<div class="store-view-detail-container" id="store-view-detail-container" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="store-view-detail">
    <div class="store-cross-text-container" id="store-cross-text-container">
        <button style="font-size: 2rem; background-color: transparent; border: none; outline: none;" onclick="closeProductDetails()">❌</button>
    </div>

    <div class="store-view-detail-image-container">
        <div class="store-image-slider-container">

        </div>
        <div class="store-image-thumbnail-container">

        </div>
    </div>

    <div class="store-view-detail-product-container">

    </div>
</div>