<div class="category_container" xmlns:th="http://www.w3.org/1999/xhtml">
    <h2>ប្រភេទទំនិញ</h2>
    <form  method="post">
        <div class="category_form-group">
            <label for="name" class="category_label">ឈ្មោះ(អង់គ្លេស):</label>
            <input type="text" id="name" class="category_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាអង់គ្លេស">
        </div>
        <div class="category_form-group">
            <label for="name_kh" class="category_label">ឈ្មោះ(ខ្មែរ):</label>
            <input type="text" id="name_kh" class="category_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាខ្មែរ">
        </div>
        <div class="category_form-group">
            <label for="description" class="category_label">ពត៍មានបន្ថែម:</label>
            <textarea id="description" placeholder="ពត៍មានបន្ថែម" class="category_textarea" ></textarea>
        </div>
        <button type="submit" class="category_button">បញ្ជូល</button>
    </form>
</div>