<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="alert_msg">
    <div class="alert_msg_container">
        <div id="alert_msg_modal" class="msg_modal">
            <div class="alert_msg_modal-content">
                <div style="display: flex;
                    margin: 0;
                    justify-content: center;
                    align-items: center;">
                    <img src="" id="alert-msg-image" width="60px;height:60px">
                    <span id="alert_modal_message_title">This is a message!</span>
                </div>

                <div id="body-msg">
                    <p id="alert_modal_message_body"> </p>
                </div>
            </div>
        </div>
    </div>
</div>
