<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="attribute">
    <div class="attribute_container" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="create-attribute">

        <a th:data-form-title="'Create'"
           th:href="'#'"
           style="display:none;"
           id="attribute-back"
           onclick="resetToCreateAttributeMode(this)">
            <img th:src="@{/icon/back-icon.png}" class="icon" alt="back-icon.png">
            <span> Back </span>
        </a>

        <div class="service-type-title">
            <img th:src="@{/icon/attribute-icon.png}" class="icon-service-type" alt="attribute-icon.png">
            <h2 id="form-modal-attribute-title">បញ្ជូលអង្គធាតុទំនិញថ្មី</h2>
        </div>

        <form id="createAttribute" onsubmit="handleAttributeFormSubmit(event)">
            <div class="general-form-group" id="attributeIdFieldGroup" style="display:none;">
                <label for="attribute_id" class="general_label" id="attribute-form-ipt-id">លេខរៀង:</label>
                <input type="text" id="attribute_id" name="attribute_id" class="general_input" placeholder="លេខរៀង" readonly>
            </div>

            <div class="general-form-group">
                <label for="attribute_name" class="general_label">ឈ្មោះ(អង់គ្លេស):</label>
                <input type="text" id="attribute_name" name="attribute_name" class="general_input" placeholder="បញ្ជូលអង្គធាតុទំនិញ ជាភាសាអង់គ្លេស">
            </div>
            <div class="general-form-group">
                <label for="attribute_name_kh" class="general_label">ឈ្មោះ(ខ្មែរ):</label>
                <input type="text" id="attribute_name_kh" name="attribute_name_kh" class="general_input" placeholder="បញ្ជូលអង្គធាតុទំនិញ ជាភាសាខ្មែរ">
            </div>
            <button type="submit" id="attribute-edit-btn" class="update_button attribute_create_btn_container" style="margin-right: 3%;">បញ្ជូល</button>
        </form>
    </div>

    <table class="attribute_table_list_container">
        <thead>
        <tr>
            <th class="attribute_th">លេខរៀង</th>
            <th class="attribute_th">ឈ្មោះ(ខ្មែរ)</th>
            <th class="attribute_th">ឈ្មោះ(អង់គ្លេស)</th>
            <th class="attribute_th">ស្ថានភាព</th>
            <th class="attribute_th">សកម្មភាព</th>
        </tr>
        </thead>
        <tbody id="attributeTable">
        <tr th:each="row,iterStat  : ${content}" th:class="${iterStat.index % 2 == 0} ? '' : 'odd-row'">
            <div th:if="${content != null}">
                <td class="attribute_td" th:text="${row.id}"></td>
                <td class="attribute_td" th:text="${row.name}"></td>
                <td class="attribute_td" th:text="${row.nameKh}"></td>
                <td class="attribute_td" th:text="${row.status == 'ACTIVE' ? 'កំពុងដំណើរការ' : row.status}"></td>
                <td style="font-size: 1rem">
                    <ul class="attribute-action">
                        <li>
                            <a th:id="${row.id}" th:href="'#'" th:onclick="'showAttributeConfirmationModal(\'delete\', ' + ${row.id} + ')'">
                                <img th:src="@{/icon/trash.png}" class="icon" alt="Trash Icon">
<!--                                <span th:text="លុប"></span>-->
                            </a>
                        </li>
                        &nbsp;
                        <li> <span>|</span> </li>
                        &nbsp;
                        <li>
                            <a th:attribute-id="${row.id}"
                               th:data-attribute-name="${row.name}"
                               th:data-attribute-name-kh="${row.nameKh}"
                               th:data-attribute-form-title="'Update'"
                               th:href="'#'"
                               class="attribute-edit-href"
                               onclick="resetToUpdateAttributeMode(this)">
                                <img th:src="@{/icon/edit.png}" class="icon" alt="Trash Icon">
<!--                                <span th:text="'កែ'"></span>-->
                            </a>
                        </li>
                    </ul>
                </td>
            </div>
        </tr>
        </tbody>
    </table>

    <div class="attribute-search-bar-container">
        <input type="text" id="search_input_attribute" placeholder="ស្វែងរក..." onkeyup="fetchAttributesFilter()" class="search-ipt">
    </div>

    <div id="attribute-confirmation-modal" class="confirm-modal" style="z-index:999">
        <div class="confirm-modal-content">
            <div class="attribute-close-container">
                <span class="close-confirm-modal" style="margin-left: 24px; font-size:3rem" onclick="closeConfirmationAttributeModal()">&times;</span>
            </div>
            <div id="confirm-modal-header" style="width: 25%">
                <img th:src="@{/icon/exclamation-mark.png}"class="flex-item" alt="exclamation-mark.png" style="width: 60px; margin-left: 20%;">
                <h2 class="flex-item" style="font-size: 2.5rem">សំខាន់</h2>
            </div>
            <p id="attribute-confirm-modal-text" style="font-size: 1.5rem">Do you want to proceed with this action?</p>
            <div class="modal-actions" style="margin-top:3%">
                <button class="confirm-cancel-btn" onclick="closeConfirmationAttributeModal()" style="font-size:1.5rem">ទេ</button>
                <button class="confirm-btn" onclick="confirmAttributeActionConfirmation()"  style="font-size:1.5rem">បាទ/ចាស់</button>
            </div>
        </div>
    </div>

    <div class="page-redirect-attribute">
        <div th:if="${total_records < 0}">
            <p>ទំព័រ: <span>0</span> of <span th:text="${total_pages}"></span></p>
        </div>
        <div th:unless="${total_records < 0}">
            <div th:if="${total_records == 0}">
                <p>ទំព័រ: 0</span> of <span th:text="${total_pages}"></span></p>
            </div>
            <div th:unless="${total_records == 0}">
                <div th:if="${total_records > 0}">
                    <p>ទំព័រ: <span th:text="${current_page + 1}"></span> of <span th:text="${total_pages}"></span></p>
                </div>
            </div>
        </div>
        <div class="page-number-attribute">
            <div th:if="${current_page == 0}" class="attribute-list-prev">
                <a href="#" class="attribute-redirect-href"><</a>
            </div>

            <div th:if="${current_page != 0}" class="attribute-list-prev">
                <a th:if="${current_page > 0}" th:href="@{/attribute/list/(page=${current_page - 1})}" class="attribute-redirect-href"> < </a>
            </div>

            <div th:if="${current_page < total_pages}" class="attribute-list-next">
                <a th:if="${current_page < total_pages - 1}" th:href="@{/attribute/list/(page=${current_page + 1})}" class="attribute-redirect-href"> > </a>
            </div>
        </div>
    </div>
</div>

