<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="category">
    <div class="category_container" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="create-category">

        <div class="service-type-title">
            <img th:src="@{/icon/category-icon.png}" class="icon-service-type" alt="category-icon.png">
            <h2> ប្រភេទទំនិញ</h2>
        </div>
        <form id="createCategory" onsubmit="handleCategoryFormSubmit(event)">
            <div class="general-form-group">
                <label for="name" class="general_label">ឈ្មោះ(អង់គ្លេស):</label>
                <input type="text" id="name" name="name" class="general_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាអង់គ្លេស">
            </div>
            <div class="general-form-group">
                <label for="name_kh" class="general_label">ឈ្មោះ(ខ្មែរ):</label>
                <input type="text" id="name_kh" name="name_kh" class="general_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាខ្មែរ">
            </div>
            <div class="general-form-group">
                <label for="description" class="general_label">ពត៍មានបន្ថែម:</label>
                <textarea id="description" name="description" placeholder="ពត៍មានបន្ថែម" class="general_textarea" ></textarea>
            </div>
            <button type="submit" class="update_button" style="margin-right: 3%;">បញ្ជូល</button>
        </form>
    </div>

    <table class="category_table_list_container">
        <thead>
        <tr>
            <th class="category_th">លេខរៀង</th>
            <th class="category_th">ឈ្មោះ(ខ្មែរ)</th>
            <th class="category_th">ឈ្មោះ(អង់គ្លេស)</th>
            <th class="category_th">ពត៍មានបន្ថែម</th>
            <th class="category_th">ស្ថានភាព</th>
            <th class="category_th">ថ្ងៃខែបញ្ជូល</th>
            <th class="category_th">សកម្មភាព</th>
        </tr>
        </thead>
        <tbody id="categoryTable">
        <tr th:each="row,iterStat  : ${content}" th:class="${iterStat.index % 2 == 0} ? '' : 'odd-row'">
            <div th:if="${content != null}">
                <td class="category_td" th:text="${row.id}"></td>
                <td class="category_td" th:text="${row.name}"></td>
                <td class="category_td" th:text="${row.nameKh}"></td>
                <td class="category_td" th:text="${row.description}"></td>
                <td class="category_td" th:text="${row.status == 'ACTIVE' ? 'កំពុងដំណើរការ' : row.status}"></td>
                <td class="category_td" th:text="${row.createdAt}"></td>
                <td class="category_td">
                    <ul class="category-action">
                        <li>
                            <a th:id="${row.id}" th:href="'#'" th:onclick="'showCategoryConfirmationModal(\'delete\', ' + ${row.id} + ')'">
                                <img th:src="@{/icon/trash.png}" class="icon" alt="Trash Icon">
                                <span th:text="លុប"></span>
                            </a>
                        </li>
                        &nbsp;
                        <li> <span>|</span> </li>
                        &nbsp;
                        <li>
                            <a th:id="${row.id}"
                               th:data-name="${row.name}"
                               th:data-name-kh="${row.nameKh}"
                               th:data-description="${row.description}"
                               th:data-form-title="'Update'"
                               th:href="'#'"
                               onclick="openUpdateCategoryModal(this)">
                                <img th:src="@{/icon/edit.png}" class="icon" alt="Trash Icon">
                                <span th:text="'កែ'"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </div>
        </tr>
        </tbody>
    </table>

    <div class="category-search-bar-container">
        <input type="text" id="search_input_category" placeholder="ស្វែងរក..." onkeyup="filterResults()" class="search-ipt">

        <label for="categoryStartDate">ចាប់ពី:</label>
        <div class="filter-date-container">
            <input type="date" id="categoryStartDate" onchange="filterResults()" class="date-obj">
            <button type="button" class="clear-btn" onclick="clearCategoryStartDate()">&#10005;</button>
        </div>

        <label for="categoryEndDate">រហូតដល់:</label>
        <div class="filter-date-container">
            <input type="date" id="categoryEndDate" onchange="filterResults()" class="date-obj">
            <button type="button" class="clear-btn" onclick="clearCategoryEndDate()">&#10005;</button>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeCreateCategoryModal()">X</span>
            <div class="service-type-title">
                <img class="icon-service-type" src="/icon/edit.png">
                <h2 id="form-modal-category-title"></h2>
            </div>

            <form id="popupForm" class="pop-up" onsubmit="handleCategoryFormSubmit(event)">
                <span style="margin-top: -15%;"></span>
                <div class="general-form-group">
                    <label for="id_edit" class="general_label">លេខរៀង:</label>
                    <input type="text" id="id_edit" name="id" class="general_input ready-only-field" placeholder="លេខរៀង" readonly>
                </div>
                <div class="general-form-group">
                    <label for="name_edit" class="general_label">ឈ្មោះ(អង់គ្លេស):</label>
                    <input type="text" id="name_edit" name="name" class="general_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាអង់គ្លេស">
                </div>
                <div class="general-form-group">
                    <label for="name_kh" class="general_label">ឈ្មោះ(ខ្មែរ):</label>
                    <input type="text" id="name_kh_edit" name="name_kh" class="general_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាខ្មែរ">
                </div>
                <div class="general-form-group">
                    <label for="description" class="general_label">ពត៍មានបន្ថែម:</label>
                    <textarea id="description_edit" name="description" placeholder="ពត៍មានបន្ថែម" class="general_textarea" ></textarea>
                </div>
                <button type="submit" class="update_button" id="category-edit-btn">កែប្រែ</button>
            </form>
        </div>
    </div>

    <div id="category-confirmation-modal" class="confirm-modal" style="z-index:999">
        <div class="confirm-modal-content">
            <span class="close-confirm-modal" onclick="closeConfirmationCategoryModal()">&times;</span>
            <div id="category-confirm-modal-header">
                <img th:src="@{/icon/exclamation-mark.png}"class="flex-item" alt="exclamation-mark.png" style="width: 40px; margin-left: 10%;">
                <h2 class="flex-item">សំខាន់</h2>
            </div>
            <p id="category-confirm-modal-text">Do you want to proceed with this action?</p>
            <div class="modal-actions">
                <button class="confirm-cancel-btn" onclick="closeConfirmationCategoryModal()">ទេ</button>
                <button class="confirm-btn" onclick="confirmCategoryActionConfirmation()">បាទ/ចាស់</button>
            </div>
        </div>
    </div>

    <div class="page-redirect">
        <div th:if="${total_records < 0}">
            <p>Page: <span>0</span> of <span th:text="${total_pages}"></span></p>
        </div>
        <div th:unless="${total_records < 0}">
            <div th:if="${total_records == 0}">
                <p>Page: 0</span> of <span th:text="${total_pages}"></span></p>
            </div>
            <div th:unless="${total_records == 0}">
                <div th:if="${total_records > 0}">
                    <p>Page: <span th:text="${current_page + 1}"></span> of <span th:text="${total_pages}"></span></p>
                </div>
            </div>
    </div>
    <div class="page-number">
        <div th:if="${current_page == 0}" class="category-list-prev">
            <a href="#" class="category-redirect-href"><</a>
        </div>

        <div th:if="${current_page != 0}" class="category-list-prev">
            <a th:if="${current_page > 0}" th:href="@{/category/list/(page=${current_page - 1})}" class="category-redirect-href"> < </a>
        </div>

        <div th:if="${current_page < total_pages}" class="category-list-next">
            <a th:if="${current_page < total_pages - 1}" th:href="@{/category/list/(page=${current_page + 1})}" class="category-redirect-href"> > </a>
        </div>
    </div>
 </div>
</div>

