<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="category">
    <div class="category_container" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="create-category">
        <h2>ប្រភេទទំនិញ</h2>
        <form id="createCategory">
            <div class="category_form-group">
                <label for="name" class="category_label">ឈ្មោះ(អង់គ្លេស):</label>
                <input type="text" id="name" name="name" class="category_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាអង់គ្លេស">
            </div>
            <div class="category_form-group">
                <label for="name_kh" class="category_label">ឈ្មោះ(ខ្មែរ):</label>
                <input type="text" id="name_kh" name="name_kh" class="category_input" placeholder="បញ្ជូលប្រភេទទំនិញ ជាភាសាខ្មែរ">
            </div>
            <div class="category_form-group">
                <label for="description" class="category_label">ពត៍មានបន្ថែម:</label>
                <textarea id="description" name="description" placeholder="ពត៍មានបន្ថែម" class="category_textarea" ></textarea>
            </div>
            <button type="submit" onclick="createNewCategory()" class="category_button">បញ្ជូល</button>
        </form>
    </div>

    <table class="category_table_list_container">
        <thead>
        <tr>
            <th class="category_th">លេខរៀង</th>
            <th class="category_th">ឈ្មោះ(ខ្មែរ)</th>
            <th class="category_th">ឈ្មោះ(អង់គ្លេស)</th>
            <th class="category_th">ពត៍មានបន្ថែម</th>
            <th class="category_th">ស្ថានភាព</th>
            <th class="category_th">ថ្ងៃខែបញ្ជូល</th>
            <th class="category_th">សកម្មភាព</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,iterStat  : ${content}" th:class="${iterStat.index % 2 == 0} ? '' : 'odd-row'">
            <div th:if="${content != null}">
                <td class="category_td" th:text="${row.id}"></td>
                <td class="category_td" th:text="${row.name}"></td>
                <td class="category_td" th:text="${row.nameKh}"></td>
                <td class="category_td" th:text="${row.description}"></td>
                <td class="category_td" th:text="${row.status == 'ACTIVE' ? 'កំពុងដំណើរការ' : row.status}"></td>
                <td class="category_td" th:text="${row.createdAt}"></td>
                <td class="category_td">
                    <ul class="category-action">
                        <li>
                            <a th:id="${row.id}" th:href="'#'" onclick="deleteCategory(this)">
                                <img th:src="@{/icon/trash.png}" class="category-icon" alt="Trash Icon">
                                <span th:text="លុប"></span>
                            </a>
                        </li>
                        &nbsp;
                        <li> <span>|</span> </li>
                        &nbsp;
                        <li>
                            <a th:id="${row.id}" th:href="'#'" onclick="deleteCategory(this)">
                                <img th:src="@{/icon/edit.png}" class="category-icon" alt="Trash Icon">
                                <span th:text="កែ"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </div>
        </tr>
        </tbody>
    </table>

    <div class="page-redirect">
        <div th:if="${total_records < 0}">
            <p>Page: <span>0</span> of <span th:text="${total_pages}"></span></p>
        </div>
        <div th:unless="${total_records < 0}">
            <div th:if="${total_records == 0}">
                <p>Page: 0</span> of <span th:text="${total_pages}"></span></p>
            </div>
            <div th:unless="${total_records == 0}">
                <div th:if="${total_records > 0}">
                    <p>Page: <span th:text="${current_page + 1}"></span> of <span th:text="${total_pages}"></span></p>
                </div>
            </div>
    </div>

    <div class="page-number">
        <div th:if="${current_page == 0}" class="category-list-prev">
            <a href="#" class="category-redirect-href">X</a>
        </div>

        <div th:if="${current_page != 0}" class="category-list-prev">
            <a th:if="${current_page > 0}" th:href="@{/category/list/(page=${current_page - 1})}" class="category-redirect-href">Previous</a>
        </div>

        <div th:if="${current_page < total_pages}" class="category-list-next">
            <a th:if="${current_page < total_pages - 1}" th:href="@{/category/list/(page=${current_page + 1})}" class="category-redirect-href">Next</a>
        </div>
    </div>
 </div>






