<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <div class="homepage_header_container">
        <div class="page_type" th:text="${page_type_kh}"></div> &nbsp;&nbsp;
        <div class="announcement">
            <marquee behavior="scroll" direction="left" scrollamount="8">Redirect Attributes: In Thymeleaf, you can also use the th:attr attribute to add URL parameters or attributes to the action URL. These attributes can be used to pass data to the redirected page.</marquee>
        </div>
        <div class="date"></div>
    </div>

    <script>
       function displayDateTime() {
            const now = new Date();
                        const options = { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true };
                        const dateTimeString = now.toLocaleString('en-US', options).replace(',', ' -');
            const dateElement = document.querySelector('.date');
            dateElement.innerText = dateTimeString;
        }
        displayDateTime();

        setInterval(displayDateTime, 1000);

    </script>
</div>


