<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <div class="homepage_header_container">
        <div class="page_type" th:text="${page_type}"></div> &nbsp;&nbsp;
        <div class="announcement">
            <marquee behavior="scroll" direction="left" scrollamount="8">Redirect Attributes: In Thymeleaf, you can also use the th:attr attribute to add URL parameters or attributes to the action URL. These attributes can be used to pass data to the redirected page.</marquee>
        </div>
        <div class="date"></div>
    </div>
</div>