<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="product">

    <div class="product-search-bar-container">
        <input type="text" id="search_input_product" placeholder="ស្វែងរក..." onkeyup="productFilterResults()" class="search-ipt">

        <label for="productStartDate">ចាប់ពី:</label>
        <div class="filter-date-container">
            <input type="date" id="productStartDate" onchange="productFilterResults()" class="date-obj">
            <button type="button" class="clear-btn" onclick="clearProductStartDate()">&#10005;</button>
        </div>

        <label for="productEndDate">រហូតដល់:</label>
        <div class="filter-date-container">
            <input type="date" id="productEndDate" onchange="productFilterResults()" class="date-obj">
            <button type="button" class="clear-btn" onclick="clearProductEndDate()">&#10005;</button>
        </div>

    </div>
    <div id="product-create-container">
        <button th:href="'#'"
                th:data-form-title="Create"
                onclick="openUpdateProductModal(this)"
                class="product-create-btn">
            <img th:src="@{/icon/add-icon.png}" style="width:12px; color: #0a0a0a" alt="Trash Icon">
            <span th:text="'បញ្ជូលថ្មី'" style="padding-bottom: 5px; color: #0a0a0a"></span>
        </button>
    </div>

    <table class="product_table_list_container">
        <thead>
        <tr>
            <th class="product_th">លេខរៀង</th>
            <th class="product_th">ឈ្មោះទំនិញ</th>
            <th class="product_th">ប្រភេទទំនិញ</th>
            <th class="product_th">តម្លៃ</th>
            <th class="product_th">ពត៍មានបន្ថែម</th>
            <th class="product_th">ស្ថានភាព</th>
            <th class="product_th">ថ្ងៃខែបញ្ជូល</th>
            <th class="product_th">សកម្មភាព</th>
        </tr>
        </thead>
        <tbody id="productTable">
        <tr th:each="row,iterStat : ${content}" th:class="${iterStat.index % 2 == 0} ? '' : 'odd-row'">
            <div th:if="${content != null}">
                <td class="product_td" th:text="${row.id}"></td>
                <td class="product_td" th:text="${row.nameEn + ' (' + row.nameKh +')'}"></td>
                <td class="product_td" th:text="${row.categoryNameEn + ' (' + row.categoryNameKh +')'}"></td>
                <td class="product_td" th:text="${row.salePrice + ' ' + row.currency}"></td>
                <td class="product_td" th:text="${row.description}"></td>
                <td class="product_td" th:text="${row.status == 'ACTIVE' ? 'កំពុងដំណើរការ' : row.status}"></td>
                <td class="product_td" th:text="${row.createdAt}"></td>
                <td class="product_td">
                    <ul class="product-action">
                        <li>
                            <a th:id="${row.id}" th:href="'#'" th:onclick="'showConfirmationModal(\'delete\', ' + ${row.id} + ')'">
                                <img th:src="@{/icon/trash.png}" class="icon" alt="Trash Icon">
                                <span th:text="លុប"></span>
                            </a>
                        </li>
                        &nbsp;
                        <li> <span>|</span> </li>
                        &nbsp;
                        <li>
                            <a th:id="${row.id}"
                               th:data-name-en="${row.nameEn}"
                               th:data-name-kh="${row.nameKh}"
                               th:data-sale-price="${row.salePrice}"
                               th:data-currency="${row.currency}"
                               th:data-description="${row.description}"
                               th:data-form-title="'Update'"
                               th:href="'#'"
                               onclick="openUpdateProductModal(this)">
                                <img th:src="@{/icon/edit.png}" class="icon" alt="Trash Icon">
                                <span th:text="'កែ'"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </div>
        </tr>
        </tbody>
    </table>

    <div id="myProductModal" class="product-create-modal">
        <div class="product-create-modal-content">
            <span class="close" onclick="closeUpdateProductModal()">X</span>
            <div class="service-type-title">
                <img class="icon-service-type">
                <h2 id="form-modal-product-title">create</h2>
            </div>

            <form id="popupForm" class="pop-up" onsubmit="handleFormSubmit(event)">
                <div class="general-form-group">
                    <label for="id_edit" class="general_label">លេខរៀង:</label>
                    <input type="text" id="id_edit" name="id" class="general_input ready-only-field" placeholder="លេខរៀង" readonly>
                </div>
                <div class="general-form-group">
                    <label for="name_en_edit" class="general_label">ឈ្មោះ(អង់គ្លេស):</label>
                    <input type="text" id="name_en_edit" name="name_en" class="general_input" placeholder="បញ្ជូលផលិតផល ជាភាសាអង់គ្លេស">
                </div>
                <div class="general-form-group">
                    <label for="name_kh_edit" class="general_label">ឈ្មោះ(ខ្មែរ):</label>
                    <input type="text" id="name_kh_edit" name="name_kh" class="general_input" placeholder="បញ្ជូលផលិតផល ជាភាសាខ្មែរ">
                </div>
                <div class="product-info-ipt">
                    <div class="general-form-group flex-item">
                        <div style="margin-top: 3px"></div>
                        <label for="product_select" class="general_label">ប្រភេទទំនិញ:</label>
                        <select id="product_select" name="product_id" class="general_input" style="padding: 2px;">
                        </select>
                    </div>
                    <div class="general-form-group flex-item">
                        <label for="sale_price_edit" class="general_label product-price-ipt">តម្លៃ:</label>
                        <input type="text" id="sale_price_edit" name="sale_price" class="product-price-ipt" placeholder="បញ្ជូលតម្លៃទំនិញ">
                    </div>

                    <div class="general-form-group flex-item">
                        <label for="currency_edit">ជ្រើសរើសរូបីយប័ណ្ណ:</label>
                        <div style="margin-top: 8px"></div>
                        <select name="currency_edit" id="currency_edit" style="padding: 2px;">
                            <option value="USD" selected disabled hidden>USD</option>
                            <option value="USD">USD</option>
                            <option value="KHR">KHR</option>
                        </select>
                    </div>
                </div>

                <div class="general-form-group">
                    <label for="description_edit" class="general_label">ពត៍មានបន្ថែម:</label>
                    <textarea id="description_edit" name="description" placeholder="ពត៍មានបន្ថែម" class="general_textarea"></textarea>
                </div>
                <button type="submit" class="update_button" style="margin-right: 3%;" id="product-edit-btn"></button>
            </form>
        </div>
    </div>

    <div id="confirmation-modal" class="confirm-modal" style="z-index:999">
        <div class="confirm-modal-content">
            <span class="close-confirm-modal" onclick="closeConfirmationModal()">&times;</span>
            <div id="product-confirm-modal-header">
                <img th:src="@{/icon/exclamation-mark.png}"class="flex-item" alt="exclamation-mark.png" style="width: 40px; margin-left: 10%;">
                <h2 class="flex-item">សំខាន់</h2>
            </div>
            <p id="confirm-modal-text">Do you want to proceed with this action?</p>
            <div class="modal-actions">
                <button class="confirm-cancel-btn" onclick="closeConfirmationModal()">ទេ</button>
                <button class="confirm-btn" onclick="confirmProductActionConfirmation()">បាទ/ចាស់</button>
            </div>
        </div>
    </div>


    <div class="product-page-redirect">
        <div th:if="${total_records < 0}">
            <p>Page: <span>0</span> of <span th:text="${total_pages}"></span></p>
        </div>
        <div th:unless="${total_records < 0}">
            <div th:if="${total_records == 0}">
                <p>Page: 0</span> of <span th:text="${total_pages}"></span></p>
            </div>
            <div th:unless="${total_records == 0}">
                <div th:if="${total_records > 0}">
                    <p>Page: <span th:text="${current_page + 1}"></span> of <span th:text="${total_pages}"></span></p>
                </div>
            </div>
        </div>

        <div class="product-page-number">
            <div th:if="${current_page == 0}" class="product-list-prev">
                <a href="#" class="product-redirect-href"><</a>
            </div>

            <div th:if="${current_page != 0}" class="product-list-prev">
                <a th:if="${current_page > 0}" th:href="@{/product/list/(page=${current_page - 1})}" class="product-redirect-href"> < </a>
            </div>

            <div th:if="${current_page < total_pages}" class="product-list-next">
                <a th:if="${current_page < total_pages - 1}" th:href="@{/product/list/(page=${current_page + 1})}" class="product-redirect-href"> > </a>
            </div>
        </div>
    </div>



</div>
