<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="product">

    <div class="product-search-bar-container">
        <input type="text" id="search_input_product" placeholder="ស្វែងរក..." onkeyup="productFilterResults()" class="search-ipt">

        <div class="filter-date-container">
        <label for="productStartDate" class="start_from">ចាប់ពី:</label>
            <input type="date" id="productStartDate" onchange="productFilterResults()" class="date-obj">
            <button type="button" class="clear-btn" onclick="clearProductStartDate()">&#10005;</button>
        </div>

        <div class="filter-date-container">
        <label for="productEndDate" class="start_to">រហូតដល់:</label>
            <input type="date" id="productEndDate" onchange="productFilterResults()" class="date-obj" placeholder="ថ្ងៃ/ខែ/ឆ្នាំ">
            <button type="button" class="clear-btn" onclick="clearProductEndDate()">&#10005;</button>
        </div>

    </div>
    <div id="product-create-container">
        <button th:href="'#'"
                th:data-form-title="Create"
                onclick="openUpdateProductModal(this)"
                class="product-create-btn">
            <span class="unicode-icon">&plus;</span>
            <span th:text="'បញ្ជូលថ្មី'" style="padding-bottom: 5px; font-size: 1.5rem;color: #0a0a0a"></span>
        </button>
    </div>

    <table class="product_table_list_container">
        <thead>
        <tr>
            <th class="table_th">លេខកូដ</th>
            <th class="table_th">ឈ្មោះទំនិញ</th>
            <th class="table_th">ប្រភេទទំនិញ</th>
            <th class="table_th">តម្លៃ</th>
            <th class="table_th">ពត៍មានបន្ថែម</th>
            <th class="table_th">ស្ថានភាព</th>
            <th class="table_th">ថ្ងៃខែបញ្ជូល</th>
            <th class="table_th">សកម្មភាព</th>
        </tr>
        </thead>
        <tbody id="productTable">
        <tr th:each="row,iterStat : ${content}" th:class="${iterStat.index % 2 == 0} ? '' : 'odd-row'">
            <div th:if="${content != null}">
                <td class="table_td" th:text="${row.code}"></td>
                <td class="table_td" th:text="${row.nameKh != null and row.nameKh != '' ? row.nameEn + ' (' + row.nameKh + ')' : row.nameEn}"></td>
                <td class="table_td" th:text="${row.categoryNameKh != null and row.categoryNameKh != '' ? row.categoryNameEn + ' (' + row.categoryNameKh + ')' : row.categoryNameEn}"></td>
                <td class="table_td" th:text="${#numbers.formatDecimal(row.salePrice, 1, 2)} + ' ' + ${row.currency}"></td>
                <td class="table_td" id="product_textarea">
                    <textarea class="product_desc" th:text="${row.description}" rows="1" cols="40" readonly></textarea>
                </td>
                <td class="table_td" th:text="${row.status == 'ACTIVE' ? 'កំពុងដំណើរការ' : row.status}"></td>
                <td class="table_td" th:text="${#strings.substring(row.createdAt, 0, 19)}"></td>

                <td class="table_td">
                    <ul class="product-action ">
                        <li>
                            <a th:id="${row.id}" th:href="'#'" th:onclick="'showConfirmationModal(\'delete\', ' + ${row.id} + ')'">
                                <span class="unicode-icon">&#128465</span>
                                <span th:text="លុប"></span>
                            </a>
                        </li>
                        &nbsp;
                        <li> <span>|</span> </li>
                        &nbsp;
                        <li>
                            <a
                               th:id="${row.id}"
                               th:data-code="${row.code}"
                               th:data-categoryEn="${row.categoryNameEn}"
                               th:data-categoryKh="${row.categoryNameKh}"
                               th:data-name-en="${row.nameEn}"
                               th:data-name-kh="${row.nameKh}"
                               th:data-sale-price="${row.salePrice}"
                               th:data-currency="${row.currency}"
                               th:data-description="${row.description}"
                               th:data-form-title="'Update'"
                               th:href="'#'"
                               onclick="openUpdateProductModal(this)">
                                <span class="unicode-icon">&#x270E;</span>
                                <span th:text="'កែ'"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </div>
        </tr>
        </tbody>
    </table>

<!--    <div id="myProductModal" class="product-create-modal">-->
<!--        <div class="product-create-modal-content">-->
<!--            <span class="close" onclick="closeUpdateProductModal()">❌</span>-->
<!--            <div class="service-type-title">-->
<!--                <img class="icon-service-type">-->
<!--                <h2 id="form-modal-product-title">create</h2>-->
<!--            </div>-->

<!--            <div class="form-container">-->
<!--                <form id="gridForm" class="grid-form" onsubmit="handleFormSubmit(event)">-->

<!--                    <div class="general-form-group" id="product-grid-id">-->
<!--                        <label for="product_id_edit" class="general_label">លេខរៀង:</label>-->
<!--                        <input type="text" id="product_id_edit" name="product_id" class="general_input ready-only-field" placeholder="លេខរៀង" readonly>-->
<!--                    </div>-->

<!--                    <div class="group-product-name" id="product-grid-name">-->
<!--                        <div class="general-form-group">-->
<!--                            <label for="product_name_en_edit" class="general_label">ឈ្មោះ(អង់គ្លេស):</label>-->
<!--                            <input type="text" id="product_name_en_edit" name="product_name_en" class="product-name-en-kh-ipt" placeholder="បញ្ជូលផលិតផល ជាភាសាអង់គ្លេស">-->
<!--                        </div>-->
<!--                        <div class="general-form-group" style="margin-left: 10%">-->
<!--                            <label for="product_name_kh_edit" class="general_label">ឈ្មោះ(ខ្មែរ):</label>-->
<!--                            <input type="text" id="product_name_kh_edit" name="product_name_kh" class="product-name-en-kh-ipt" placeholder="បញ្ជូលផលិតផល ជាភាសាខ្មែរ">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="general-form-group" id="product-grid-code">-->
<!--                        <label for="product_code_edit" class="general_label">លេខកូដ:</label>-->
<!--                        <input type="text" id="product_code_edit" name="product_code" class="general_input" placeholder="លេខកូដ">-->
<!--                    </div>-->

<!--                    <div class="general-form-group flex-item" id="product-grid-category">-->
<!--                        <label for="product_select" class="general_label custom-product-category-label">ប្រភេទទំនិញ:</label>-->
<!--                        <select id="product_select" name="product_id" class="product-name">-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="general-form-group flex-item" id="product-grid-sale-price">-->
<!--                        <label for="product_sale_price_edit" class="general_label product-price-ipt" style=" font-size: 1.3rem;">តម្លៃ:</label>-->
<!--                        <input type="text" id="product_sale_price_edit" style="border:1px solid;" name="product_sale_price" class="product-price-ipt" placeholder="បញ្ជូលតម្លៃទំនិញ">-->
<!--                    </div>-->

<!--                    <div class="general-form-group flex-item" id="product-grid-currency">-->
<!--                        <label for="product_currency_edit" style=" font-size: 1.3rem;" class="general_label product-currency-label">ជ្រើសរើសរូបីយប័ណ្ណ:</label>-->
<!--                        <select id="product_currency_edit"-->
<!--                                name="product_currency_edit"-->
<!--                                class="product-currency-select">-->

<!--                            <option value="USD" selected disabled hidden>USD</option>-->
<!--                            <option value="USD">USD</option>-->
<!--                            <option value="KHR">KHR</option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="general-form-group" id="product-grid-description">-->
<!--                        <label for="product_description_edit" class="general_label">ពត៍មានបន្ថែម:</label>-->
<!--                        <textarea id="product_description_edit" name="product_description" placeholder="ពត៍មានបន្ថែម" class="general_textarea"></textarea>-->
<!--                    </div>-->

<!--                    <div class="form-group full-width" id="submit">-->
<!--                        <button id="product-edit-btn" type="submit" class="submit-btn">Submit</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

    <div id="myProductModal" class="product-modal product-tab-container" onclick="outsideClick(event)">
        <div class="product-modal-content">
            <div class="product-close-container">
                <span class="product-close " onclick="closeModal()">❌</span>
            </div>
            <div class="tab">
                <button class="tablinks active" id="tab-Product">Product</button>
                <button class="tablinks" id="tab-Variants">Variants</button>
                <button class="tablinks" id="tab-VariantAttribute">Attributes</button>
            </div>
            <div id="Product" class="tabcontent">
                <div class="product-create-modal-content">
<!--                    <span class="close" onclick="closeUpdateProductModal()">❌</span>-->
<!--                    <div class="service-type-title">-->
<!--                        <img class="icon-service-type">-->
<!--                        <h2 id="form-modal-product-title">create</h2>-->
<!--                    </div>-->

                    <div class="form-container">
                        <div class="product-service-type-title">
                            <img class="icon-service-type">
                            <h2 id="form-modal-product-title">create</h2>
                        </div>
                        <form id="gridForm" class="grid-form" onsubmit="handleFormSubmit(event)">

                            <div class="general-form-group" id="product-grid-id">
                                <label for="product_id_edit" class="general_label">លេខរៀង:</label>
                                <input type="text" id="product_id_edit" name="product_id" class="general_input ready-only-field" placeholder="លេខរៀង" readonly>
                            </div>

                            <div class="group-product-name" id="product-grid-name">
                                <div class="general-form-group">
                                    <label for="product_name_en_edit" class="general_label">ឈ្មោះ(អង់គ្លេស):</label>
                                    <input type="text" id="product_name_en_edit" name="product_name_en" class="product-name-en-kh-ipt" placeholder="បញ្ជូលផលិតផល ជាភាសាអង់គ្លេស">
                                </div>
                                <div class="general-form-group" style="margin-left: 10%">
                                    <label for="product_name_kh_edit" class="general_label">ឈ្មោះ(ខ្មែរ):</label>
                                    <input type="text" id="product_name_kh_edit" name="product_name_kh" class="product-name-en-kh-ipt" placeholder="បញ្ជូលផលិតផល ជាភាសាខ្មែរ">
                                </div>
                            </div>
                            <div class="general-form-group" id="product-grid-code">
                                <label for="product_code_edit" class="general_label">លេខកូដ:</label>
                                <input type="text" id="product_code_edit" name="product_code" class="general_input" placeholder="លេខកូដ">
                            </div>

                            <div class="general-form-group flex-item" id="product-grid-category">
                                <label for="product_select" class="general_label custom-product-category-label">ប្រភេទទំនិញ:</label>
                                <input type="text" disabled id="product-category-edit"
                                       style="display: none; margin-left:9%; width:190px; height: 50px; text-align:center">
                                <select id="product_select" name="product_id" class="product-name">
                                </select>
                            </div>

                            <div class="general-form-group flex-item" id="product-grid-sale-price">
                                <label for="product_sale_price_edit" class="general_label product-price-ipt" style=" font-size: 1.3rem;">តម្លៃ:</label>
                                <input type="text" id="product_sale_price_edit" style="border:1px solid;" name="product_sale_price" class="product-price-ipt" placeholder="បញ្ជូលតម្លៃទំនិញ">
                            </div>

                            <div class="general-form-group flex-item" id="product-grid-currency">
                                <label for="product_currency_edit" style=" font-size: 1.3rem;" class="general_label product-currency-label">ជ្រើសរើសរូបីយប័ណ្ណ:</label>
                                <select id="product_currency_edit"
                                        name="product_currency_edit"
                                        class="product-currency-select"
                                        style="text-align: center"
                                >
                                    <option value="USD" selected disabled hidden style="font-size: 1.3rem">USD</option>
                                    <option value="USD">USD</option>
                                    <option value="KHR">KHR</option>
                                </select>
                            </div>

                            <div class="general-form-group" id="product-grid-description">
                                <label for="product_description_edit" class="general_label">ពត៍មានបន្ថែម:</label>
                                <textarea id="product_description_edit" name="product_description" placeholder="ពត៍មានបន្ថែម" class="general_textarea"></textarea>
                            </div>

                                <!--                            <div class="form-group full-width" id="submit">-->
<!--                                <button id="product-edit-btn" type="submit" class="submit-btn">Submit</button>-->
<!--                            </div>-->
                            <div class="product-btn-container">
                                <button disabled class="product-btn-back">Back</button>
                                <button onclick="navigateTab('Product', 'Variants')" class="product-btn-next" id="product-edit-btn" type="submit">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="Variants" class="tabcontent">

                <div class="btn-container">
                    <button onclick="navigateTab('Variants', 'Product')" class="product-btn-back">Back</button>
                    <button onclick="navigateTab('Variants', 'VariantAttribute')" class="product-btn-next">Next</button>
                </div>
            </div>
            <div id="VariantAttribute" class="tabcontent">

                <div class="btn-container">
                    <button onclick="navigateTab('VariantAttribute', 'Variants')" class="product-btn-back">Back</button>
                    <button class="product-btn-next">Done</button>
                </div>
            </div>
        </div>
    </div>

    <div id="product-confirmation-modal" class="confirm-modal" style="z-index:999">
        <div class="confirm-modal-content">
            <div class="close-confirm-modal-container">
                <span class="close-confirm-modal" onclick="closeConfirmationModal()">❌</span>
            </div>
            <div id="confirm-modal-header">
                <img th:src="@{/icon/exclamation-mark.png}"class="flex-item" alt="exclamation-mark.png" style="width: 70px; margin-left: 10%;">
                <h2 class="flex-item">សំខាន់</h2>
            </div>
            <p id="product-confirm-modal-text">Do you want to proceed with this action?</p>
            <div class="modal-actions">
                <button class="confirm-cancel-btn"style="font-size: 1.5rem" onclick="closeConfirmationModal()">ទេ</button>
                <button class="confirm-btn" style="font-size: 1.5rem" onclick="confirmProductActionConfirmation()">បាទ/ចាស់</button>
            </div>
        </div>
    </div>

    <div class="product-page-redirect">
        <div th:if="${total_records < 0}">
            <p>ទំព័រ: <span>0</span> of <span th:text="${total_pages}"></span></p>
        </div>
        <div th:unless="${total_records < 0}">
            <div th:if="${total_records == 0}">
                <p>ទំព័រ: 0</span> of <span th:text="${total_pages}"></span></p>
            </div>
            <div th:unless="${total_records == 0}">
                <div th:if="${total_records > 0}">
                    <p>ទំព័រ: <span th:text="${current_page + 1}"></span> of <span th:text="${total_pages}"></span></p>
                </div>
            </div>
        </div>

        <div class="product-page-number">
            <div th:if="${current_page == 0}" class="product-list-prev">
                <a href="#" class="product-redirect-href"><</a>
            </div>

            <div th:if="${current_page != 0}" class="product-list-prev">
                <a th:if="${current_page > 0}" th:href="@{/api/product/list/(page=${current_page - 1})}" class="product-redirect-href"> < </a>
            </div>

            <div th:if="${current_page < total_pages}" class="product-list-next">
                <a th:if="${current_page < total_pages - 1}" th:href="@{/api/product/list/(page=${current_page + 1})}" class="product-redirect-href"> > </a>
            </div>
        </div>
    </div>

</div>
