<div class="content" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="product">

    <div class="product-search-bar-container">
        &nbsp; &nbsp;
        <input type="text" id="search_input_product" placeholder="ស្វែងរក..." class="search-ipt">
        <div class="filter-container">
            &nbsp;&nbsp;&nbsp;&nbsp;
                <select id="filterColumn" >
                    <optgroup>
                        <option value="defaultChoice" disabled selected> ជ្រើសរើស </option>
                        <option value="code">លេខកូដ</option>
                        <option value="product_name">ឈ្មោះទំនិញ</option>
                        <option value="category_name">ប្រភេទទំនិញ</option>
                        <option value="sale_price">តម្លៃ</option>
                        <option value="stock_quantity">ចំនួនស្ដុក</option>
                        <option value="sku">SKU</option>
                        <!--                <option value="10">ថ្ងៃខែបញ្ជូល</option>-->
                    </optgroup>
                </select>
            &nbsp;&nbsp;
            <select id="filterCondition" onchange="toggleInputFields()" style="width: 150px;">
                <optgroup>
                    <option value="defaultCondition" disabled selected>លក្ខខណ្ឌ</option>
                    <option value="EQUAL">ស្មើរ</option>
                    <option value="CONTAINS">ប្រហែល</option>
                    <option value="BETWEEN">ចន្លោះ(លេខ)</option>
                    <option value="GREATER_THAN">ធំជាង(លេខ)</option>
                    <option value="LESS_THAN">តូចជាង(លេខ)</option>
                </optgroup>

            </select>
            &nbsp;&nbsp;
            <div id="inConditionFields" style="display: none;">
                <div style="display: flex; height:100%;">
                    <input type="text" style="border-radius: 8px;" id="filterValue1" placeholder="បញ្ជូលតម្លៃទី 1" required>
                    <span style="margin-left: 2%"></span>
                    <input type="text" style="border-radius: 8px;" id="filterValue2" placeholder="បញ្ជូលតម្លៃទី 2" required>
                </div>
            </div>
            &nbsp;&nbsp;
            <div id="singleConditionField" style="display:none">
                <input type="text" id="filterValue" style="border-radius: 8px;" placeholder="បញ្ជូលតម្លៃ" required>
            </div>
            &nbsp;
            <select id="product_filter_search_currency"
                    name="product_currency_edit"
                    style="text-align: center; display:none; width: 75px">
                <option value="none" selected disabled></option>
                <option value="USD">USD</option>
                <option value="KHR">KHR</option>
            </select>
        </div>

        &nbsp;&nbsp;&nbsp;
        <div class="group-filter-btn">
            <span style="margin-left: 2%"></span>
            <button class="common-btn" id="btn-submit-filter" style="height: 65px; width:65px"></button>
            <span style="margin-left: 5%"></span>
            <button class="reset-btn" onclick="resetFilter()" id="btn-reset-filter" style="height: 65px; width:65px"></button>
        </div>

        <!-- Date Filter -->
        <div id="dateFilter">
            <div class="filter-date-container" id="filter-start-date" style="display: none;">
                <label for="productStartDate" class="start_from">ចាប់ពី:</label>
                <input type="date" id="productStartDate" onchange="filterInputValueDateTime()" class="date-obj">
                <button type="button" class="clear-btn" onclick="clearProductStartDate()">&#10005;</button>
            </div>

            <div class="filter-date-container" id="filter-end-date" style="display: none;">
                <label for="productEndDate" class="start_to">រហូតដល់:</label>
                <input type="date" id="productEndDate" onchange="filterInputValueDateTime()" class="date-obj" placeholder="ថ្ងៃ/ខែ/ឆ្នាំ">
                <button type="button" class="clear-btn" onclick="clearProductEndDate()">&#10005;</button>
            </div>
        </div>

    </div>

    <div id="product-create-container">
        <button th:href="'#'"
                th:data-form-title="Create"
                onclick="reloadPage()"
                class="product-create-btn">
            <span class="unicode-icon">⭮</span>
            <span th:text="'ផ្ទុកឡើងវិញ'" style="padding-bottom: 5px; font-size: 1.5rem;color: #0a0a0a"></span>
        </button>
        <span style="margin-left: 3%"></span>
        <button th:href="'#'"
                th:data-form-title="Create"
                onclick="openCreateUpdateProductModal(this)"
                class="product-create-btn">
            <span class="unicode-icon">&plus;</span>
            <span th:text="'បញ្ជូលថ្មី'" style="padding-bottom: 5px; font-size: 1.5rem;color: #0a0a0a"></span>
        </button>
    </div>

    <table class="product_table_list_container">
        <thead>
        <tr>
            <th class="table_th">លេខកូដ</th>
            <th class="table_th">ឈ្មោះទំនិញ</th>
            <th class="table_th">ប្រភេទទំនិញ</th>
            <th class="table_th">តម្លៃ(ដុល្លារ) | តម្លៃ(រៀល)</th>
<!--            <th class="table_th">SKU</th>-->
            <th class="table_th" width="50px">ចំនួនស្ដុក</th>
            <th class="table_th">អង្គធាតុ</th>
            <th class="table_th">រូបភាព</th>
<!--            <th class="table_th">ថ្ងៃខែបញ្ជូល</th>-->
            <th class="table_th">សកម្មភាព</th>
        </tr>
        </thead>
        <tbody id="productTable">
        </tbody>
    </table>

    <div id="imageSlider" class="slider-container" style="display: none;">
        <div class="product-prev-btn-container">
            <button class="prev-btn" onclick="prevProductImage()">⮜</button>
        </div>
        <span class="close-btn" onclick="closeSlider()">✖</span>
        <img id="sliderImage" class="slider-image" src="" alt="Product Image">
        <div class="product-next-btn-container">
            <button class="next-btn" onclick="nextProductImage()">⮞</button>
        </div>
    </div>

    <div id="customModal" class="custom-modal">
        <div class="custom-modal-content">
            <span class="close-var-att-btn" onclick="closeVariantAttributeModal()">&times;</span>
            <p style="font-size: 2.3rem">ពត័មានអង្គធាតុ</p>
            <ul id="attributeList" style="font-size: 2rem"></ul>
        </div>
    </div>

    <div id="myProductModal" class="product-modal product-tab-container">
        <div class="product-modal-content">
            <div class="product-close-container">
                <span class="product-close " onclick="closeModal()">❌</span>
            </div>
            <div class="tab">
                <button class="tablinks active" id="tab-Product">ទំនិញ</button>
                <button class="tablinks" id="tab-Variants">អង្គធាតុទំនិញ</button>
                <button class="tablinks" id="tab-Verify">បញ្ជាក់</button>
            </div>
            <div id="Product" class="tabcontent">
                <div class="product-create-modal-content">
                    <div class="form-container">
                        <div class="product-service-type-title">
                            <img class="icon-service-type">
                            <h2 id="form-modal-product-title" style="display:none">create</h2>
                            <h2 id="form-product-create-title"></h2>
                        </div>
                        <form id="gridForm" class="grid-form" onsubmit="handleFormSubmit(event)">
                            <div class="general-form-group" id="product-grid-id">
                                <label for="product_id_edit" class="general_label">លេខរៀង:</label>
                                <input type="text" id="product_id_edit" name="product_id" class="general_input ready-only-field" placeholder="លេខរៀង" readonly>
                            </div>

                            <div class="group-product-name" id="product-grid-name">
                                <div class="general-form-group">
                                    <label for="product_name_en_edit" class="general_label"><span style="color: red">*</span>ឈ្មោះ(អង់គ្លេស):</label>
                                    <input type="text" id="product_name_en_edit" name="product_name_en" class="product-name-en-kh-ipt" placeholder="បញ្ជូលផលិតផល ជាភាសាអង់គ្លេស">
                                </div>
                                <div class="general-form-group" style="margin-left: 10%">
                                    <label for="product_name_kh_edit" class="general_label"><span style="color: red">*</span>ឈ្មោះ(ខ្មែរ):</label>
                                    <input type="text" id="product_name_kh_edit" name="product_name_kh" class="product-name-en-kh-ipt" placeholder="បញ្ជូលផលិតផល ជាភាសាខ្មែរ">
                                </div>
                            </div>
                            <div class="general-form-group" id="product-grid-code">
                                <label for="product_code_edit" class="general_label">លេខកូដ:</label>
                                <input type="text" id="product_code_edit" name="product_code" class="general_input" placeholder="លេខកូដ">
                            </div>
                            <div class="general-form-group flex-item" id="product-grid-category">
                                <label for="product_select" class="general_label custom-product-category-label"><span style="color: red">*</span>ប្រភេទទំនិញ:</label>
                                <input type="text" disabled id="product-category-edit"
                                       style="display: none; margin-left:9%; width:190px; height: 50px; text-align:center; font-size: 1.5rem">
                                <div style="width: 30%;">
                                    <select id="product_select" name="product_id" class="product-name"
                                            style="font-size: 1.5rem; width: 25%; padding: 10px; max-height: 400px; overflow-y: auto;"
                                            onclick="this.size = 12;"
                                            onblur="this.size = 0;" required>
                                    </select>
                                </div>

                            </div>
                            <div class="general-form-group flex-item" id="product-grid-sale-price">
                                <label for="product_sale_price_edit" class="general_label product-price-ipt" style=" font-size: 1.3rem;"><span style="color: red">*</span>តម្លៃ:</label>
                                <input type="text" id="product_sale_price_edit" style="border:1px solid;" name="product_sale_price" class="product-price-ipt" placeholder="បញ្ជូលតម្លៃទំនិញ">
                            </div>
                            <div class="general-form-group flex-item" id="product-grid-currency">
                                <label for="product_currency_edit" style=" font-size: 1.3rem;" class="general_label product-currency-label"><span style="color: red">*</span>ជ្រើសរើសរូបីយប័ណ្ណ:</label>
                                <select id="product_currency_edit"
                                        name="product_currency_edit"
                                        class="product-currency-select"
                                        style="width: 40%">
                                    <optgroup style="width: 15%">
                                        <option value="USD">USD</option>
                                        <option value="KHR">KHR</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="general-form-group" id="product-grid-description">
                                <label for="product_description_edit" class="general_label">ពត៍មានបន្ថែម:</label>
                                <textarea id="product_description_edit" name="product_description" placeholder="ពត៍មានបន្ថែម" class="general_textarea"></textarea>
                            </div>
                            <div class="product-btn-container">
                                <button class="product-btn-back" onclick="closeModal()">បិទ</button>
                                <button onclick="navigateTab('Product', 'Variants')" class="product-btn-next" id="product-next-btn">បន្ទាប់</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="Variants" class="tabcontent">
                <div class="product-create-modal-content">
                    <div class="product-service-type-title">
                        <img class="icon-service-type" th:src="@{/icon/edit-product-icon.png}">
                        <h2 id="form-modal-product-title-2">X</h2>
                    </div>
                    <form id="gridFormVariant">
                        <div class="product-variant-container">
                            <div id="product-grid-base-price" style="margin-top: 3%">
                                <label for="product_sale_price_edit" style=" font-size: 1.6rem;">តម្លៃដើម:</label>
                                <span style="margin-left: 14%"></span>
                                <input type="text" id="product_base_price_edit"
                                       style="border:1px solid; width: 350px; font-size: 1.6rem; text-align:center"
                                       name="product_base_price">
                            </div>
                            <div id="product-base-price-grid-currency">
                                <label for="product_currency_edit" style="font-size: 1.6rem;">រូបីយប័ណ្ណ:</label>
                                <span style="margin-left: 12%"></span>
                                <select id="product_base_price_currency_edit"
                                        name="product_currency_edit"
                                        style="border:1px solid;font-size: 1rem; text-align: center; width: 100px; height: 50px;">
                                    <option value="USD">USD</option>
                                    <option value="KHR">KHR</option>
                                </select>
                            </div>

                            <div id="product-grid-stock-quantity">
                                <label for="product_code_edit" style="font-size: 1.6rem" >ចំនួនស្ដុកឥវ៉ាន់:</label>
                                <span style="margin-left: 7%"></span>
                                <input type="text"
                                       id="product_stock_quantity_edit"
                                       name="product_code"
                                       style="border:1px solid; width: 100px; font-size: 1.6rem; text-align:center">
                            </div>

                            <div id="product-grid-sky">
                                <label for="product_code_edit" style="font-size: 1.6rem"> SKU Code:</label>
                                <span style="margin-left: 8%"></span>
                                <input type="text"
                                       id="product_stock_sku"
                                       name="product_code"
                                       style="border:1px solid; width: 500px; font-size: 1.6rem; text-align:center">
                            </div>

                            <div class="variant-attribute-container">

                                <div style="display: block;">
                                    <div style="font-size: 1.6rem">អង្គធាតុ</div>
                                    <div>
                                        <select id="product_attribute_select" style="width: 150px; font-size: 1.5rem; height: 50px"></select>
                                    </div>
                                </div>

                                <div style="display: block; margin-left: 7%">
                                    <div style="font-size: 1.6rem">តម្លៃ: </div>
                                    <div>
                                        <input type="text" id="product_attribute_value" class="product-variant-attribute-value">
                                    </div>
                                </div>

                                <div style="display: block;margin-left: 7%">
                                    <div style="font-size: 1.6rem">បញ្ជូលរូបភាព:</div>
                                    <div>
                                        <input type="file" accept="image/*" multiple id="product_variant_image_value" class="product-variant-attribute-value"
                                               style="width: 150px;" onchange="addImages(event)">
                                    </div>

                                    <div class="preview-image-container">
                                        <button type="button" id="preview_button"
                                                style="display: none; margin-left: 10px;"
                                                onclick="openPreview()">មើល</button>
                                    </div>

                                    <div id="image_preview_modal" class="image-preview">
                                        <span onclick="closePreview()" style="cursor: pointer; color: red; font-size: 3.5rem; position: absolute; top: -20px; right: 10px;">×</span>
                                        <span onclick="addToRemoveImg()" style="cursor: pointer; color: #000; font-size: 3rem; position: absolute; top: -20px; left: 10px;">🗑</span>
                                        <button onclick="prevImageUpload(event)" class="preview-prev-img">◀</button>
                                        <img id="preview_image" src="" style="max-width: 300px; max-height: 300px; display: block; margin: auto;">
                                        <button onclick="nextImageUpload(event)" class="preview-next-img">▶</button>
                                    </div>
                                </div>

                            </div>

                            <div class="add-attribute-btn">
                                <button type="button" onclick="addAttribute()"
                                        style="width: 270px; background-color: #e28743;color: #000;">
                                         បន្ថែមអង្គធាតុទំនិញ</button>
                            </div>
                        </div>

                        <div class="attribute-list-title">
                            <h2 class="product-attribute-list-table"> អង្គធាតុទំនិញ: </h2>
                        </div>
                        <div style="margin-top: 8%; margin-left: 7%"></div>
                        <div id="product-variant-attribute-container" class="product-variant-attribute-container">
                            <div class="product-attribute-list-contain">
                                <div style="display: flex;">
                                    <span class="product-attribute-header">អង្គធាតុ</span>
                                    <span class="product-attribute-header">តម្លៃ</span>
                                    <span class="product-attribute-header">សកម្មភាព</span>
                                </div>
                            </div>
                                <ul id="attribute-list" class="product-attribute-ul"></ul>
                        </div>
                        <div class="product-btn-container">
                            <button onclick="updateProductDetail()">TEST</button>
                            <button onclick="navigateTab('Variants', 'Product')" class="product-btn-back">ថយក្រោយ</button>
                            <button onclick="navigateTab('Variants', 'Verify');" class="product-btn-next">បន្ទាប់</button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="Verify" class="tabcontent">
                <div class="product-verify-tab-content-container">
                    <div class="product-verify-tab-container">
                        <h2 style="text-align: center; font-weight: normal">ទំនិញ</h2>
                        <label>លេខរៀង:</label>
                        <label id="verify-product-id" style="margin-left: 29%;" class="common-label"></label> <br>
                        <label>ឈ្មោះទំនិញជាភាសាអង្គគ្លេស:</label>
                        <label id="verify-product-nameEn" class="common-label"></label><br>
                        <label>ឈ្មោះទំនិញជាភាសាខ្មែរ:</label>
                        <label id="verify-product-nameKh" style="margin-left: 7%;" class="common-label"></label><br>
                        <label>លេខកូដទំនិញ:</label>
                        <label id="verify-product-code" style="margin-left: 21%;" class="common-label"></label><br>
                        <label>ប្រភេទទំនិញ:</label>
                        <label id="verify-product-category" style="margin-left: 23%;" class="common-label"></label><br>
                        <label>តម្លៃទំនិញ:</label>
                        <label id="verify-product-sale-price" style="margin-left: 26.5%;" class="common-label"></label><br>
                        <label>រូបីយប័ណ្ណ:</label>
                        <label id="verify-product-currency" style="margin-left: 26.5%;" class="common-label"></label><br>
                        <label>ពត៍មានបន្ថែម:</label> <br>
                        <label id="verify-product-description" style="text-align: center;" class="common-label"></label>
                    </div>
                    <div class="product-variant-tab-container">
                        <h2 style="text-align: center; font-weight: normal">វ៉ារ្យ៉ង់</h2>
                        <label>តម្លៃដើម:</label>
                        <label id="verify-variant-base-price" style="margin-left: 18%;" class="common-label"></label> <br>
                        <label>រូបីយប័ណ្ណ:</label>
                        <label id="verify-variant-currency" style="margin-left: 15%;" class="common-label"></label><br>
                        <label>ចំនួនស្ដុកឥវ៉ាន់:</label>
                        <label id="verify-variant-stock-quantity" style="margin-left: 7%;" class="common-label"></label><br>
                        <label>SKU Code:</label>
                        <label id="verify-variant-sku-code" style="margin-left: 9%;" class="common-label"></label><br>

                        <h2 style="text-align: center; font-weight: normal">រូបភាព</h2>
                        <div id="image_verify_preview_modal" class="verify_image-preview">
                            <button onclick="prevImage('verify_preview_image')" class="preview-prev-img" style="font-size: 1.5rem">◀</button>
                            <img id="verify_preview_image" src="" style="max-width: 300px; max-height: 300px; display: block; margin: auto;">
                            <button onclick="nextImage('verify_preview_image')" class="preview-next-img" style="font-size: 1.5rem">▶</button>
                        </div>
                    </div>
                    <div class="product-variant-attribute-tab-container">
                        <h2 style="text-align: center; font-weight: normal">អង្គធាតុទំនិញ</h2>
                        <label id="verify-variant-attribute-name" style="font-size: 1.3rem;text-align:center;" class="common-label"></label> <br>
                    </div>
                </div>

                <div class="product-btn-container">
                    <button onclick="navigateTab('Verify', 'Variants')" class="product-btn-back">ថយក្រោយ</button>
                    <button onclick="checkButtonAction()" class="product-btn-next" id="product-submit-btn" type="submit">បន្ថែមទំនិញ</button>
                </div>
            </div>
        </div>
    </div>

    <div id="product-confirmation-modal" class="confirm-modal" style="z-index:999">
        <div class="confirm-modal-content">
            <div class="close-confirm-modal-container">
                <span class="close-confirm-modal" onclick="closeConfirmationModal()">❌</span>
            </div>
            <div id="confirm-modal-header">
                <img th:src="@{/icon/exclamation-mark.png}"class="flex-item" alt="exclamation-mark.png" style="width: 70px; margin-left: 10%;">
                <h2 class="flex-item">សំខាន់</h2>
            </div>
            <p id="product-confirm-modal-text">Do you want to proceed with this action?</p>
            <div class="modal-actions">
                <button class="confirm-cancel-btn"style="font-size: 1.5rem" onclick="closeConfirmationModal()">ទេ</button>
                <button class="confirm-btn" style="font-size: 1.5rem" onclick="confirmProductActionConfirmation()">បាទ/ចាស់</button>
            </div>
        </div>
    </div>

    <div class="product-page-redirect">
        <p >ទំព័រ: <span id="display-page-num">X</span> of <span id="display-page-total">X</span></p>
        <div class="product-page-number">

            <div class="product-list-prev" id="back-page-init-container">
                <button id="back-page-init" onclick="fetchFilterProduct()"> < </button>
            </div>

            <div class="product-list-next" id="to-page-init-container">
                <button id="to-page-init" onclick="fetchFilterProduct()"> > </button>
            </div>

            <div class="product-list-prev" id="back-page-container" style="display:none">
                <button id="back-page"> < </button>
            </div>

            <div class="product-list-next" id="to-page-container" style="display:none">
                <button id="to-page"> > </button>
            </div>
        </div>
    </div>
</div>
