<!-- Sidebar -->
<div class="sidebar" th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <h4 class="text-center">XXXXStore</h4>
    <br>

    <div class="feature-container">
        <a th:href="@{/}">Dashboard / ទំព័រដើម</a>
    </div>

    <div class="feature-container">
        <a href="#">Products / ទំនិញ</a>
    </div>

    <div class="feature-container">
        <a th:href="@{/category}">Category / ប្រភេទទំនិញ</a>
    </div>

    <div class="feature-container">
        <a href="#">Invoice / វិក្កយបត្រ</a>
    </div>

    <div class="feature-container">
        <a href="#">Report / របាយការណ៍</a>
    </div>

    <div class="feature-container">
        <a href="#">Order / ការបញ្ជារទិញ</a>
    </div>

</div>