*{
    font-family: "Battambang", serif;

}

@media only screen and (max-width: 1921px) and (max-height: 954px) {
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .attribute_container {
        position: fixed;
        top: 10%;
        left: 15%;
        width: 23%;
        height: 57.5%;
        margin: 50px auto;
        padding: 20px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
        border: 1px solid;
    }

    .attribute_create_btn_container {
        position: absolute;
        right: 5%;
    }


    #currency_edit{
        border: 1px solid #000;
        margin-top: 6px;
    }

    .attribute-button-container {
        position: absolute;
        right:0;
        width: 250px;
    }

    .attribute-group-pop-up{
        display: flex;
    }

    .attribute-group-pop-up img {
        width: px;
        height: 25px;
    }

    .attribute_table_list_container {
        position: fixed;
        top: 10%;
        left: 40%;
        width: 58%;
        margin: 50px 10px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 12px;
        z-index: 1;
        border: 1px solid #000;
    }
    .attribute_table_list_container table {
        width: 40%;
        border-collapse: collapse;
        margin-top: 20px;
        border-radius: 24px;
    }

    .attribute_td {
        border: 1px solid #ddd;
        text-align: center;
        font-size: 1.5rem;
        width: 20%;
    }

    .attribute_th {
        font-weight: 500;
        background-color: #fff;
        padding: 2px;
        font-size: 1.7rem;
    }
    .odd-row {
        background-color: #f2f2f2;
    }

    .attribute_th:nth-child(even) {
        background-color: #f9f9f9;
    }

    .attribute_tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .page-redirect-attribute{
        position: fixed;
        top: 78.8%;
        left: 64%;
    }
    .page-redirect-attribute p {
        font-size: 1.5rem;
    }
    .page-number-attribute{
        position: fixed;
        top: 81.3%;
        left: 61%;
        display: inline-flex;
    }
    .attribute-list-prev{
        position: relative;
        width: 200px;
        height: 200px;
    }
    .attribute-list-prev a {
        font-size: 1.5rem;
    }

    .attribute-list-next{
        position: absolute;
        margin-left: 200px;
    }

    .attribute-list-next a{
        font-size: 1.5rem;
    }

    .attribute-redirect-href{
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    .attribute-action{
        width: 80px;
        height: 5px;
        display: flex;
        list-style-type: none;
        padding-left: 34%;
    }
    .attribute-action li {
        justify-content: center;
        align-item: center;
        margin-top: -12px;
    }
    .attribute-action li a {
        text-decoration: none;
        color: #000;
    }

    .modal{
        position: fixed;
        display: none;
        left:11.1%;
        top:7.3%;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 22;
    }
    .modal-content{
        position: absolute;
        width: 500px;
        height: 500px;
        left: 28%;
        top: 8%;
        background-color: #FBFBF9;
        padding: 24px;
        border: 1px solid #000;
        border-radius: 12px;
    }

    .pop-up{
        margin-top: 8%;
    }

    .pop-up .general-form-group input, .pop-up .general-form-group textarea {
        border: 1px solid #000;
        padding-left: 8px;
    }
    .ready-only-field{
        pointer-events: none;
        background-color: #f0f0f0;
    }
    #attribute-edit-btn{
        position: fixed;
        background-color: #e28743;
        color: #000;
        font-weight: normal;
        right: 58%;
        width: 120px;
        bottom: 26%;
        font-size: 1.3rem;
    }

    .attribute-search-bar-container{
        position: fixed;
        width: 107%;
        height: 100px;
        top: 8%;
        left: 40.5%;
    }

    .disabled {
        pointer-events: none;
        cursor: not-allowed;
    }

    .attribute-close-container{
        position: absolute;
        top: 25%;
        right: 28%;
    }
}
