@media only screen and (max-width: 1921px) and (max-height: 954px) {

    .main-body {
        position: fixed;
        left: 14.4%;
        top: 15%;
        width: 84.8%;
        height: 70%;
    }

    .service-type-title{
        display: flex;
        width: 99%;
    }

    .icon-service-type{
        margin-top: 22px;
        margin-right: 10px;
        width: 60px;
        height: 60px;
    }

    .unicode-icon {
        font-size: 1.3rem;
    }
    .icon{
        width: 25px;
    }
    .pop-up-message-container {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 100vh;
        background-color: #f4f4f4;
    }
    .pop-up-container {
        text-align: center;
    }
    .pop-up-message {
        position: fixed;
        width: 300px;
        top: 8%;
        right: 20px;
        padding: 15px 20px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 30;
    }
    .success { background: #28a745; }
    .error { background: #dc3545; }

    .general-form-group {
        margin-bottom: 34px;
        z-index: 1;
    }

    .general_label {
        display: block;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    .general_input[type="text"] {
        width: 100%;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 5px;
        font-size: 1.3rem;
    }

    .update_button {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 330px;
    }
    .update_button:hover {
        background-color: #0056b3;
    }

    .general_textarea {
        width: 100%;
        height: 109px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 1.3rem;
    }

    .search-ipt{
        width: 20%;
        padding: 18px;
        height: 1.3rem;
        border-radius: 8px;
        text-align: left;
        font-size: 1.4rem;
    }
    .date-obj{
        width: 173px;
        height: 3rem;
        border-radius: 3px;
        font-size: 1.4rem;
        padding-right: 3rem;
        padding-left: 2rem;
    }
    .start_from{
        font-size: 1.4rem;
    }

    .start_to {
        font-size: 1.4rem;
    }

    .filter-date-container {
        position: relative;
        display: inline-block;
        margin-left: 3%;
    }

    .clear-btn {
        position: absolute;
        right: 4px;
        top: -3px;
        cursor: pointer;
        background: none;
        border: none;
        font-size: 2rem;
        color: #888;
        font-weight: bold;
    }

    .confirm-modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .confirm-modal-content {
        background-color: #fefefe;
        margin-left: 34%;
        width: 40%;
        text-align: center;
        border-radius: 8px;
        margin-top: 10%;
        height: 30%;
        padding-top: 2%;
        border-radius: 16px;
    }

    .close{
        position: absolute;
        right: 3%;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: bold;
    }

    .close-confirm-modal-container {
        position: absolute;
        top: 26%;
        right: 28%;
    }
    .close-confirm-modal {
        color: #aaa;
        float: right;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .close-confirm-modal:hover,
    .close-confirm-modal:focus {
        color: black;
        cursor: pointer;
    }

    .modal-actions {
        margin-top: -1%;
        width: 100%;
    }

    .modal-actions button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    .confirm-btn {
        background-color: #4CAF50;
        color: white;
    }

    .confirm-cancel-btn {
        background-color: #f44336;
        color: white;
    }

    .confirm-btn:hover {
        background-color: #45a049;
    }

    .confirm-cancel-btn:hover {
        background-color: #e41c21;
    }

   .table_td, .table_th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 2px;
        height: 40px;
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .table_td{
        font-size: 1.2rem;
        padding: 12px;
        height: 40px;
        width: 120px;
        font-weight: 400;
    }
    .table_th {
        font-weight: 500;
        background-color: #f9f9f9;
        font-size: 1.5rem;
        padding: 2px;
        height: 40px;
        width: 120px;
    }

    .table_tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table_th:nth-child(even) {
       /* background-color: #d69c3eaa;*/
    }

    .table_td:nth-child(even) {
        /*background-color: #d69c3eaa;*/

    }

    .common-label {
        background-color:#fafafa;
        color: #000;
    }

    .image-preview-modal {
        position: fixed;
        top: 40%;
        left: 55%;
        transform: translate(-43%, -42%);
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px #000;
        width: auto;
    }

    .image-preview{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-19%, -50%);
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
        text-align: center;
        width: 320px;
        z-index: 1;
    }
    .verify_image-preview{
        display: none;
        position: fixed;
        top: 72%;
        left: 56%;
        transform: translate(-19%, -50%);
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        width: 320px;
    }
    .preview-image-container{
        position: absolute;
        right: 11%;
        bottom: 16%;
    }

    .preview-prev-img {
        position: absolute;
        left: 10px;
        top: 50%;
        background: none;
        border: none;
        font-size: 3rem;
        cursor: pointer;
        transform: translate(-45%, -40%);
    }
    .preview-next-img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(45%,-50%);
        background: none;
        border: none;
        font-size: 3rem;
        cursor: pointer;
    }

    .common-btn, .reset-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        background-color: #053914a3;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1.3rem;
        font-weight: normal;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .common-btn:hover, .reset-btn:hover {
        background-color: #0056b3;
    }

    .common-btn::before {
        content: "➔";

    }
    .reset-btn::before {
        content: "↻";
    }

    optgroup{
        font-size: .8rem;
    }

    .msg_modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        padding-top: 100px;
    }

    .alert_msg_modal-content {
        background-color: #fff;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        text-align: center;
        border-radius: 10px;
    }

    #alert_modal_message_title {
        font-size: 2rem;
        font-weight: normal;
        color: #333;
        font-family: "Battambang", serif;
    }

    #alert_modal_message_body {
        font-size: 1.5rem;
        font-weight: normal;
        color: #333;
        font-family: "Battambang", serif;
    }

    #loading-spinner {
        font-size: 2rem;
        font-weight: normal;
        color: #000;
        background-color: #fff;
        padding: 10px;
        text-align: center;
        position: fixed;
        top: 39%;
        left: 57%;
        transform: translateX(-50%);
        z-index: 1000;
        border-radius: 5px;
        display: none;
    }

    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        position: fixed;
        top: 48%;
        left: 55%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

}
