<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TKS Store</title>
    <link rel="shortcut icon" href="#">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Battambang:wght@100;300;400;700;900&family=Changa:wght@200..800&family=Concert+One&family=Lexend+Deca:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&family=Protest+Strike&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script th:src="@{/js/store.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/variable.js}" type="text/javascript" defer></script>

    <link rel="stylesheet" th:href="@{/css/store.css}">

</head>

<body>
    <div class="store-container">
        <div class="store-header">
            <div class="left">
                <a th:href="@{/}" class="store-back-button">↩</a>
            </div>
            <div class="middle">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="right">
                <a th:href="@{/}" class="store-back-button">🛒</a>
            </div>
        </div>

        <div class="store-body">
            <div th:replace="fragments/util/loading :: loading"></div>
            <div th:replace="fragments/store/view-detail :: store-view-detail"></div>

            <div class="store-left-sidebar">
                <div id="listContainer">កំពុងទាញយកទិន្ន័យ...</div>

                <div class="search-container">
                    <label style="font-size:1.2rem; color:#fff;">ស្វែងរក...</label>
                    <div class="cross-text-container" id="cross-text-container">
                        <button style="font-size: 1.2rem; background-color: transparent; border: none; outline: none;" id="clear-store-search">❌</button>
                    </div>
                    <input type="text" placeholder="ទំនិញ | ប្រភេទទំនិញ | តម្លៃ | ចំនួនស្ដុក" id="store-keyword" style="text-align:center">
                    <p style="font-size:1.2rem; background-color:#5dbea3; border-radius:12px; margin-top: 20%">𝑹𝑬𝑺𝑼𝑳𝑻𝑺 | លិទ្ធផល</p>
                    <div style="display: block; text-align:left">
                        <label style="font-size: 1.2rem; color:#fff">រកឃើញ&nbsp;&nbsp;&nbsp;: <span id="store-search-size" style="color:#d43c3c"></span> ទំនិញ </label> <br>
                        <label style="font-size: 1.2rem;color:#fff">កាលបរិច្ឆេទ : <span id="store-search-datetime" style="color:#d43c3c"></span>  </label>
                    </div>
                </div>
            </div>
            <div class="grid-item-sidebar">
                <div class="center-content" id="center-content">
                    <p style="color:#bbb;">មិនមានទំនិញប្រភេទនេះទេ!</p>
                </div>
                <div class="grid" id="productGrid"></div>
            </div>
        </div>


        <div class="store-footer">
            <div class="pagination">
                <button id="prevPage" disabled class="store-prev" style="font-size:1.2rem"> < </button>
                <span id="pageIndicator"></span>
                <button id="nextPage" class="store-next" style="font-size:1.2rem"> > </button>
            </div>
        </div>

    </div>
</body>

</html>


